:root {
    --background: #eff2f6;
    --borders: #dadde0;
}


body {
    background-color: var(--background);
    margin: 0;
    font-family: sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
    list-style: none;
}

li {
    list-style: none;
}

header {
    background-color: #ffffff;
    border-bottom: 1px solid #dadde0;
}


#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    margin-inline: 20px;
}

#header_links {
    display: flex;
    justify-content: space-evenly;
    width: 45%;
}

#header_links > li > a:hover {
    text-decoration: underline red;
}

#logo {
    width: 50px;
    height: 50px;
}

main {
    margin-top: 30px;
    margin-inline: 8%;
    margin-bottom: 30px;
}

#mainrow {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

#mainrow > div {
    min-height: 100px;
    height: fit-content;
    border: 1px solid #dadde0;
    background-color: #ffffff;
    border-radius: 10px;
}

.col {
    padding: 5px;
    width: 20%;
    min-height: 20px;
}

div#center {
    padding: 20px;
    width: 50%;
    height: fit-content;
    min-height: 0;
}

/* ------ESTILOS COLUMNA 2 OCULTA TEMPORALMENTE POR DESUSO------ */
div#col2 {
    background-color: transparent;
    border: none;
}

h1 {
    margin: 0;
}

h3 {
    margin: 0;
    font-weight: 400;
    color: darkgrey;
}

#col-header {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 5px;
    font-size: large;
    font-weight: 700;
    text-transform: uppercase;
}

.button-link {
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
    gap: 5px;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: 0.5s;
}

.button-link:hover {
    background-color: #f1f1f1d2;
}

.button-link:last-of-type {
    margin-bottom: 0;
}

.active {
    background-color: aqua;
}

footer {
    background-color: #ffffff;
    border-top:1px solid #dadde0;
    width: 100%;
    position: absolute;
    bottom: 0;
}

#footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-inline: 80px;
    height: 50px;
}

#copy {
    user-select: none;
}

#footer_links {
    display: flex;
    justify-content: space-evenly;
    width: 40%;
}

#footer_links > li {
    cursor: pointer;
}

/* ------IMC------- */
p.IMC {
    margin: 0;
}

h2.IMC {
    margin: 0;
}

/* ------Horarios------- */
table {
    text-align: center;
}

table:not(:last-of-type) {
    margin-bottom: 20px;
}

div#horarios {
    display: flex;
    flex-direction: column;
    align-content: center;
}