* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e0e0e0;
}

.contenedor {
    width: 80%;
    background-color: #d1e7dd;
    padding: 20px;
    border-radius: 10px;
}

.tablero h1 {
    text-align: center;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

thead th {
    background-color: #b7c0cd;
    color: #000;
    padding: 10px;
}

tbody td {
    text-align: center;
    padding: 8px;
}

tbody tr:nth-child(odd) {
    background-color: #f5f5f5;
}

tbody tr:nth-child(even) {
    background-color: #e1eaf3;
}

tbody td img {
    width: 30px;
    height: 30px;
}

th, td {
    border: 1px solid #c3c3c3;
}

th:last-child, td:last-child {
    background-color: #f9f9c5;
    font-weight: bold;
}

th:last-child {
    color: #000;
}
